<div *ngIf="video.url" class="card">
  <div class="embed-responsive embed-responsive-16by9">
    <video id="app-video" class="embed-responsive-item video-js vjs-default-skin"
        preload="metadata" controls controlsList="nodownload" preload="auto"
        data-setup='{ "aspectRatio":"16:9" }'>
        <source [src]="video.url" type='video/mp4'>
        <p class='vjs-no-js'>
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
        </p>
    </video>
  </div>
  <div class="card-body">
    <p class="card-text">{{video.description}}</p>
  </div>
</div>